//----------Mobile Landscape:811px-926px-------------------------
@media screen and (min-width:811px) and ( max-width:926px) {
    h2{
        margin-top: 0;
    }

//----------HEADER/NAVIGATION(Mobile Landscape)------------------
nav{
    ul{
        justify-content: space-around;
        height: 50px;
    }
    li{
        padding-top:10px;
        padding-bottom: 20px;
    }
}
nav > ul:last-of-type{
   padding-right: 20px;
}

//----------EDUCATION SECTION(Mobile Landscape)--------------------
.section-education {
    .list-no-display {
        list-style-type: initial;
      }
    }

//----------ABOUT ME(Mobile Landscape)-----------------------------
.section-about-me{
    height: 400px;
    h1{
        margin-bottom: 20px;;
    }
    p{
        margin-left: 60px;
        justify-content: space-around;
        margin-top: 0;
        margin-right: 0;
        font-size: 3rem;
    }
}
}/*Mobile Landscape:811px-926px*/

//----------Tablet:761px-810px------------------------------
@media screen and (min-width:761px) and ( max-width:810px) {
    h2,h3,p {
      margin-left: 150px;;
    }
    h2{
        margin-top: 0;
    }

//----------HEADER/NAVIGATION(Tablet)---------------------
nav{
    ul{
        justify-content: space-around;
    }
    li{
        padding-top:20px;
        padding-bottom: 20px;
    }
}

nav > ul:last-of-type{
   padding-right: 20px;
}

//----------ABOUT ME(Tablet)--------------------------------
.section-about-me{
    background-position: center top;
    height: 370px;
    h1{
        margin-bottom: 20px;
    }
    p{
        justify-content: space-around;
        margin-left:100px;
        margin-right: 100px;
        margin-top: 0;
        font-size: 3rem;
    }
}

//----------PROJECT SECTION(Tablet)--------------------
.section-project {
    img{
        margin-left:0;
    }
}
.project-item{
    margin-left: 150px;
}

//----------EDUCATION SECTION(Tablet)--------------------
.section-education {
    p, ul{
        margin-left: 150px;
    }
    .list-no-display {
        list-style-type: initial;
      }
    }

//----------COMPETENCE SECTION(Tablet)--------------------
.section-competence{
    ul{
        margin-left: 150px;
    }
}

//----------WORK SECTION(Tablet)--------------------------
.section-work{
    p, ul{
        margin-left: 150px;
    }
}

//----------CONTACT FORM(Tablet)-------------------------
.section-contact-form {
    label,input,textarea {
        margin-left: 150px;
    }
}

//----------CONTACT INFO/SOCIAL MEDIA(Tablet)--------------
.section-contact{
    div, img{
    margin-left: 0;
    }
    ul{
    margin-left: 120px;   
    }
}
}/*Tablet:761px-810px*/

//----------Mobile Landscape:481px-760px(f.ex:GalaxyS10/iPhoneSE etc)------------------
@media screen and (min-width:481px) and ( max-width:760px) {
    .wrapper-mediaquery{
        display: flex;
        flex-direction: column-reverse;
    }
    h2,h3, p, article,label,textarea, ul{
        margin-left:20px;
        margin-right:20px;
    }
    h2 {
        margin-top: 0;
    }

//----------ABOUT ME(Mobile Landscape/GalaxyS10/iPhoneSE)------------------
.section-about-me {
    padding-top: 0;
    h1{
        margin-bottom: 0;
        padding-bottom: 10px;
    }
    p{
        margin:0;
        padding-bottom: 20px;
    }
}

//----------HEADER/NAVIGATION(Mobile Landscape/GalaxyS10/iPhoneSE)------------------
    nav{
        @include responsive-nav;
        margin-left: 0;
    }

//----------EDUCATION SECTION(Mobile Landscape/GalaxyS10/iPhoneSE)------------------
.section-education {
    p{
        margin-left: 20px;
    }
    ul{
        margin-left:0;
        margin-bottom: 0;
    }
    
    .list-no-display {
        list-style-type: initial;
      }
}

//----------COMPETENCE SECTION(Mobile Landscape/GalaxyS10/iPhoneSE)------------------
.section-competence{
    background-position: right top;
    background-color: rgba(#fff,.5);
    padding-top: 0;
    h2, h3, ul{
        opacity: 1;
    }
    ul{
        margin: 0 20px;
    }
}
.competence-content {
    background-color: rgba(#fff, .4);
    z-index: 99;
}

//----------WORK SECTION(Mobile Landscape/GalaxyS10/iPhoneSE)--------------------------
.section-work{
    p{
    margin-left:20px;
    margin-right:20px;
    }
    ul{
    margin: 0 20px;
    }
}

//----------CONTACT FORM(Mobile Landscape/GalaxyS10/iPhoneSE)--------------------------
    .section-contact-form{
        @include responsive-contact-form;
    }

//----------CONTACT INFO/SOCIAL MEDIA(MobileLandscape/GalaxyS10/iPhoneSE)------------  
.contact-flex {
    margin-left: 10px;
    display: inline-block;
    flex-direction: column;
}
.contact-logo{
    margin-right: 0;
}
}/*Mobile Landscape:481px-760px(Galaxy,iPhoneSE)*/


//----------Mobile:max480px(f.ex:iPhone etc)------------------
@media screen and (max-width:480px){
    .wrapper-mediaquery{
        display: flex;
        flex-direction: column-reverse;
    }
    h2,h3, p, article,label,textarea{
        margin-left:20px;
        margin-right:20px;
    }
    h2{
        margin-top:0;
    }
    
//----------HEADER/NAVIGATION(Mobile)------------------
    nav{
        @include responsive-nav;
    }

//----------About Me(Mobile)------------------
    .section-about-me{
        background-position: center top;
        height: 350px;;
        h1{
            margin-top: 0;
            padding-top: 0;
            font-size: 2.2rem;
        }
        p{
            justify-content: space-around;
            margin-right: 5px ;
            margin-top: 0;
            font-size: 2.2rem;
        }
    }

//----------PROJECT SECTION(Mobile)--------------------
    img {
        max-width: 100%;
        height: auto;
        text-align: center;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .project {
        margin-left: 10px;
    }

    #githubRepos {
        margin-left: 10px ;
    }

//----------EDUCATION SECTION(Mobile)------------------
    .section-education {
        p{
            margin-left: 20px;
        }
        ul{
            margin-left:0;
            margin-bottom: 0;
        }
        .list-no-display {
            list-style-type: initial;
        }
    }

//----------COMPETENCE SECTION(Mobile)------------------
    .section-competence{
        background-position: right top;
        background-color: rgba(#ffffff,.5);
        padding-top: 0;
        h2, h3, ul{
            opacity: 1;
        }
        ul{
            margin: 0 20px;
        }
        li{
            color:rgb(2, 0, 12);
            font-weight: bold;
        }
    }
    .competence-content {
        background-color: rgba(#fff, .4);
        z-index: 99;
    }

    .skill-icon {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

//----------WORK SECTION(Mobile)--------------------------
    .section-work{
        p{
        margin-left:20px;
        margin-right:20px;
        }
        ul{
        margin: 0 20px;
        }
    }

//----------CONTACT FORM(Mobile)--------------------------
    .section-contact-form{
        @include responsive-contact-form;
    }

//----------CONTACT INFO / SOCIAL MEDIA(Mobile)------------  
    .contact-flex {
        margin-left: 10px;
        display: inline-block;
        flex-direction: column;
    }
    .contact-logo {
        width: 150px;
        height: auto;
    }

}/*Close Mobile:max480px*/

