:root {
    --nav-padding-top: 2vh;
//}

//:root {
    --border-bottom: 1px dashed black;
//}

//:root {
    --margin-left:25%;
}

//----------COLOR------------------
$pink:rgba(237, 8, 126, 0.618);
$darkpink:rgb(228, 6, 121);
$Beige: rgb(223, 216, 205);
$Gray: rgba(165, 169, 170, 0.378);

